<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
        <div>
           {% comment %} <ol> {% endcomment %}
                  {% comment %} {% for task  in tasks  %}
                    <li>
                                    <p>Title:  {{task.title}}</p>
                                    <p>Project:  {{task.project.name}}</p>
                  </li>
                  {% endfor %} {% endcomment %}

                  {% comment %} {% for task in tasks  %}
                    <li>
                                    <p>Title:  {{task.title}}</p>
                                    {% for emp in task.assigned_to.all %}
                                         <ul>
                                                      <li>{{emp.name}}</li>
                                                      <li>{{emp.email}}</li>
                                         </ul>
                                    {% endfor %}
                  </li>
                  {% endfor %} {% endcomment %}
           {% comment %} </ol> {% endcomment %}

           {% comment %} Show all task in one project {% endcomment %}

           <ol>
                  {% for task in tasks %}
                      <li>
                          <p><strong>Task:</strong> {{ task.title }}</p>
                          <p>Project ID: {{task.project.id}}</p>
                          {% for emp  in task.assigned_to.all %}
                          <ul>
                                    <li><strong>Assigned to:</strong> {{ emp.name }}</li>
                          </ul>
                          {% endfor %}
                      </li>
                  {% empty %}
                      <li>No tasks found for this employee.</li>
                  {% endfor %}
              </ol>
              
              
        </div>    
        
        
        
  </body>
</html>
